// WIFI Settings
#define wifi_ssid "CHANGEME"
#define wifi_password "CHANGEME"


// MQTT Settings
#define mqtt_server "CHANGEME"
#define mqtt_port 1883

// Sensor config
#define sensor_number "1"
#define esp_client_id "sensor1"

// Publish
#define force_pub 300000 // 5min

// Define sensors
#define BME280
#define TSL2561
#define CCS811

// Define sensor data
#ifdef BME280
#define baro_corr_hpa 2.1887
#endif
